<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>ua.kh.kryvko.filter.Filter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/checkResult</url-pattern>
  </filter-mapping>

    <listener>
        <listener-class>ua.kh.kryvko.listener.ServletContextListenerImpl</listener-class>
    </listener>

  <servlet>
    <servlet-name>CheckResult</servlet-name>
    <servlet-class>ua.kh.kryvko.servlet.CheckResultServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckResult</servlet-name>
    <url-pattern>/checkResult</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Loading</servlet-name>
    <jsp-file>/pages/loading.jsp</jsp-file>
  </servlet>
  
  <servlet>
    <servlet-name>LastResult</servlet-name>
    <jsp-file>/pages/lastResult.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LastResult</servlet-name>
    <url-pattern>/lastResult</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Loading</servlet-name>
    <url-pattern>/loading</url-pattern>
  </servlet-mapping>
</web-app>
